<% layout('./layouts/boilerplate') -%>
    <div class="row">
        <div class="col-8 offset-2">
            <br>
            <h2 class="mb-3">Create a New Listing</h2>
            <form  method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Enter Title :</label>
                    <input name="listing[title]" placeholder="Add a catchy title" type="text" id="title" class="form-control" required>
                    <div class="valid-feedback">Looks Good</div>
                    <div class="invalid-feedback">
                        please add a valid Title
                    </div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Enter Description :</label>
                    <textarea name="listing[description]" placeholder="description" id="description" class="form-control" required></textarea>
                    <div class="valid-feedback">Looks Good</div>
                    <div class="invalid-feedback">
                        please add a valid Description
                    </div>
                </div>

                <div class="mb-3">
                    <label for="category">Category</label>
                    <select id="category" class="form-select" aria-label="Default select example" name="listing[category]" multiple size="5" required>
                        <option value="Rooms" selected>Rooms</option>
                        <option value="Mountain">Mountain</option>
                        <option value="Luxury" selected>Luxury</option>
                        <option value="Vacation Rentals">Vacation Rentals</option>
                        <option value="Beachfront">Beachfront</option>
                        <option value="Mountain Retreat">Mountain Retreat</option>
                        <option value="Eco-Friendly">Eco-Friendly</option>
                        <option value="Historic">Historic</option>
                        <option value="Modern">Modern</option>
                        <option value="Private">Private</option>
                        <option value="Tropical">Tropical</option>
                        <option value="Rustic">Rustic</option>
                        <option value="Ski Resort">Ski Resort</option>
                        <option value="Art Deco">Art Deco</option>
                        <option value="Castle">Castle</option>
                        <option value="Treehouse">Treehouse</option>
                        <option value="Villa">Villa</option>
                        <option value="Bungalow">Bungalow</option>
                        <option value="Cabin">Cabin</option>
                        <option value="Apartment">Apartment</option>
                        <option value="cottage">Cottage</option>
                        <option value="Log Cabin">Log Cabin</option>
                        <option value="Desert Oasis">Desert Oasis</option>
                        <option value="Beach House">Beach House</option>
                    </select>
                    <div class="valid-feedback">Looks Good</div>
                    <div class="invalid-feedback">
                        please add a valid Description
                    </div>
                </div>
                
                
                <div class="mb-3">
                    <label for="image" class="form-label">Enter Image Url :</label>
                    <input name="listing[image]" placeholder="enter image URL/Link" type="file" id="image" class="form-control" multiple accept="image/png, image/jpeg, image/jpg" required>
                    <div class="valid-feedback">Looks Good</div>
                    <div class="invalid-feedback file">
                        please add a valid Image URL && 3 Image links maximum
                    </div>
                </div>

                <div class="row">
                    <div class="mb-3 col-md-4"> 
                        <label for="price" class="form-label">Enter Price :</label>
                        <input name="listing[price]" placeholder="1200" type="text" id="price" class="form-control" required>
                        <div class="valid-feedback">Looks Good</div>
                        <div class="invalid-feedback">
                            please add a valid Price
                        </div>
                    </div>


                    
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Enter Country :</label>
                        <input name="listing[country]" placeholder="India" type="text" id="country" class="form-control" required>
                        <div class="valid-feedback">Looks Good</div>
                        <div class="invalid-feedback">
                            please add a valid Country
                        </div>
                    </div>

                </div>
                
                <div class="mb-3">
                    <label for="location" class="form-label">Enter Location :</label>
                    <input name="listing[location]" placeholder="Jaipur,Rajasthan" type="text" id="location" class="form-control" required>
                    <div class="valid-feedback">Looks Good</div>
                    <div class="invalid-feedback">
                        please add a valid Location
                    </div>
                </div>
                
                
                <button class="btn btn-dark mb-3 add-btn">ADD</button>
            </form>
        </div>
    </div>

    <script>
        
    </script>

